<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142739564407-nah58re81cu2dqnaj647sj942tpdojv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142739564407-nah58re81cu2dqnaj647sj942tpdojv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAMlZjsH0Et0Av0utLCOGBHyn--KLFcEo0</string>
	<key>GCM_SENDER_ID</key>
	<string>142739564407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbportal.sbportal</string>
	<key>PROJECT_ID</key>
	<string>alang-world</string>
	<key>STORAGE_BUCKET</key>
	<string>alang-world.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142739564407:ios:095b4a004740dc204e6372</string>
</dict>
</plist>